#Django settings
SECRET_KEY= example-test-key
DEBUG=True

#Database configuration (las variables son de ejemplo)
DB_NAME=example-database
DB_USER=example-postgres-user
DB_PASSWORD=example-pass
#docker usa el contenedor correspondiente para levantar la app
DB_HOST=db 
DB_PORT=5432